<div class="ui top attached demo menu">
  <a class="item">Responses</a>
</div>
<div class="ui bottom attached segment pushable">
  <div class="ui visible labeled icon left inline vertical sidebar menu">
    <!-- <h3><%= @civilians.first.questions.first.text %></h3> -->

    <table class="ui selectable table">
      <thead>
        <tr>
          <th>Address</th>
          <th>Phone Number</th>
          <th class="right aligned">Response</th>
        </tr>
      </thead>
      <tbody>
        <% @civilians.each do |civilian| %>
          <tr id="<%= civilian.id %>">
            <td><%= civilian.address %></td>
            <td><%= civilian.phone %></td>
            <td class="right aligned response">
              <div></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <div id="map" style="width: 100%; height: 90vh;"></div>
    </div>
  </div>
</div>






<style>
  #map {
    height: 400px;
    width: 100%;
  }

  .response div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ccc;
    float: right;
  }
  .response.t div {
    background: #e00;
  }

  .response.f div {
    background: #0f0;
  }


</style>
<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: new google.maps.LatLng(40.7128, -74.0059),
    mapTypeId: 'terrain'
  });

  var INTERVAL = 5000;
  setMarkers();

  function setMarkers() {
    $.get('/civilians.json').done(function(civilians) {
      for(var civilian of civilians) {
        var iconColor;

        // debugger
        if (civilian.questions && civilian.questions[0] && civilian.questions[0].answer) {
          var answer = civilian.questions[0].answer.response
          setResponse(civilian, answer);
          iconColor = getColor(answer)
        }
        plot(civilian, iconColor);
        window.setTimeout(setMarkers, INTERVAL);
      }
    })
  }

  function plot(civilian, color) {
    var address = civilian.address.split(" ").join("+");
    // var iconColor = return civilian.questions[-1].answer ? 
    var iconColor = 'ccc';
    var url = `https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=<%= ENV['google_api_key'] %>`
    $.get(url).done(function(data) {
      var marker = new google.maps.Marker({
        map: map,
        title: 'one',
        position: data["results"][0]["geometry"]["location"],
        icon: `http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|${ color || 'ccc'}`
        
      });   
    })
  }

  function setResponse(civilian, answer) {
    var res_div = $(`tr#${civilian.id} td.response`);
    res_div.addClass(answer)
  }

  function getColor(answer) {
    // debugger
    if (answer === "no response") {
      return "";
    }
    else {
      return (answer === "t") ? "0f0" : "f00";
    }
  }
}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap">
</script>
